.box1 {
  background-color: $primary-color;
  border-radius: $border-radius;
  border: 2px solid $border1-color;
  color: #fff;
}

.round {
  border-radius: 50px;
}

input, button {
  outline: 0;
}

.type-normal-bg-color {
  background-color: $type-normal;
}

.type-fighting-bg-color {
  background-color: $type-fighting;
}

.type-flying-bg-color {
  background-color: $type-flying;
}

.type-poison-bg-color {
  background-color: $type-poison;
}

.type-ground-bg-color {
  background-color: $type-ground;
}

.type-rock-bg-color {
  background-color: $type-rock;
}

.type-bug-bg-color {
  background-color: $type-bug;
}

.type-ghost-bg-color {
  background-color: $type-ghost;
}

.type-steel-bg-color {
  background-color: $type-steel;
}

.type-fire-bg-color {
  background-color: $type-fire;
}

.type-water-bg-color {
  background-color: $type-water;
}

.type-grass-bg-color {
  background-color: $type-grass;
}

.type-electric-bg-color {
  background-color: $type-electric;
}

.type-psychic-bg-color {
  background-color: $type-psychic;
}

.type-ice-bg-color {
  background-color: $type-ice;
}

.type-dragon-bg-color {
  background-color: $type-dragon;
}

.type-dark-bg-color {
  background-color: $type-dark;
}

.type-fairy-bg-color {
  background-color: $type-fairy;
}

.type-unknown-bg-color {
  background-color: $type-unknown;
}

.type-shadow-bg-color {
  background-color: $type-shadow;
}


