.box1 {
  background-color: $primary-color;
  border-radius: $border-radius;
  border: 2px solid $border1-color;
  color: #fff;
}

.round {
  border-radius: 50px;
}

input, button, a, a:hover, a:focus, a:active, a:visited {
  outline: 0;
}

a, a:hover, a:focus, a:active, a:visited {
  text-decoration: none;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flew-grow {
  & > div {
    flex-grow: 1;
    flex-shrink: 0;
  }
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.type-normal-color {
  color: $type-normal;
}

.type-fighting-color {
  color: $type-fighting;
}

.type-flying-color {
  color: $type-flying;
}

.type-poison-color {
  color: $type-poison;
}

.type-ground-color {
  color: $type-ground;
}

.type-rock-color {
  color: $type-rock;
}

.type-bug-color {
  color: $type-bug;
}

.type-ghost-color {
  color: $type-ghost;
}

.type-steel-color {
  color: $type-steel;
}

.type-fire-color {
  color: $type-fire;
}

.type-water-color {
  color: $type-water;
}

.type-grass-color {
  color: $type-grass;
}

.type-electric-color {
  color: $type-electric;
}

.type-psychic-color {
  color: $type-psychic;
}

.type-ice-color {
  color: $type-ice;
}

.type-dragon-color {
  color: $type-dragon;
}

.type-dark-color {
  color: $type-dark;
}

.type-fairy-color {
  color: $type-fairy;
}

.type-unknown-color {
  color: $type-unknown;
}

.type-shadow-color {
  color: $type-shadow;
}

.type-normal-bg-color {
  background-color: $type-normal;
}

.type-fighting-bg-color {
  background-color: $type-fighting;
}

.type-flying-bg-color {
  background-color: $type-flying;
}

.type-poison-bg-color {
  background-color: $type-poison;
}

.type-ground-bg-color {
  background-color: $type-ground;
}

.type-rock-bg-color {
  background-color: $type-rock;
}

.type-bug-bg-color {
  background-color: $type-bug;
}

.type-ghost-bg-color {
  background-color: $type-ghost;
}

.type-steel-bg-color {
  background-color: $type-steel;
}

.type-fire-bg-color {
  background-color: $type-fire;
}

.type-water-bg-color {
  background-color: $type-water;
}

.type-grass-bg-color {
  background-color: $type-grass;
}

.type-electric-bg-color {
  background-color: $type-electric;
}

.type-psychic-bg-color {
  background-color: $type-psychic;
}

.type-ice-bg-color {
  background-color: $type-ice;
}

.type-dragon-bg-color {
  background-color: $type-dragon;
}

.type-dark-bg-color {
  background-color: $type-dark;
}

.type-fairy-bg-color {
  background-color: $type-fairy;
}

.type-unknown-bg-color {
  background-color: $type-unknown;
}

.type-shadow-bg-color {
  background-color: $type-shadow;
}

.fade-up-enter-active, .fade-up-leave-active {
  transition: all .5s;
  top: 0;
}

.fade-up-enter, .fade-up-leave-to /* .fade-leave-active below version 2.1.8 */
{
  opacity: 0;
  top: 10px;
}

.fade-enter-active, .fade-leave-active {
  transition: all .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
  opacity: 0;
}


