$primary-color: #293744;
$primary-color-dark: darken(#293744, 10%);
$secondary-color: #B4EBFF;
$border-radius: 10px;
$border1-color: #B4EBFF;
$primary-font-family: 'Poppins', sans-serif;

$text-color: #333;
$gray1: #f5f5f6;
$gray2: #cfd1d4;
$type-normal: #b1b1b1;
$type-fighting: #d75f3a;
$type-flying: #4498ca;
$type-poison: #7D528D;
$type-ground: #a0874f;
$type-rock: #B2746C;
$type-bug: #3e9860;
$type-ghost: #ab6aa3;
$type-steel: #6c6c6c;
$type-fire: #fb6c6c;
$type-water: #77BDFE;
$type-grass: #46d1b1;
$type-electric: #ffcf4a;
$type-psychic: #452a8d;
$type-ice: #80cfc1;
$type-dragon: #e07a2a;
$type-dark: #232424;
$type-fairy: #d67fc0;
$type-unknown: #9a9a9a;
$type-shadow: #414141;
